* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
}

.one {
    flex: 0 0 10%;
}

.two {
    flex: 0 0 90%;
}
h3{text-align: center;}