* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

.box {
    width: 75px;
    height: 75px;
    background: #ded9d9;
    border-radius: 15px;
    border: 5px solid #f3efef;
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    flex-wrap: wrap;
}

.sx, .yx, .al, .bl {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: black;
    margin: 5px;
}


/*结束*/

.anmial {
    width: 75px;
    height: 75px;
    background: #ded9d9;
    border-radius: 15px;
    border: 5px solid #f3efef;
    display: flex;
}