.box {
    display: flex;
    width: 200px;
    height: 50px;
    background: green;
    flex: 1;
}

.a {
    flex: 0 0 25%;
    background: red;
}

.b {
    flex: 0 0 10%;
    background: yellow;
}

.c {
    flex: 0 0 15%;
    background: black;
}