* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}

.one {
    flex-basis: 50px;
    background: #f3f2f2;
    border-bottom: 1px solid #ece8e8;
}

.first {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.two {
    flex:1;
    overflow: auto;
}

h3 {
    text-align: center;
}

.one-all {
    display: flex;
    align-items: center;
    margin: 15px 10px 5px;
    justify-content: space-between;
}

.fz {
    display: flex;
    border-bottom: 1px solid #ece8e8;
    height: 50px;
    align-items: center;
}

.fx {
    flex: 0 0 33.3%;
    border-right: 1px solid #988d8d;
    text-align: center;
}

.bt {
    display: flex;
    height: 30px;
    align-items: center;
    font-size: 5px;
}

.left {
    flex: 0 0 26%;
    margin-left: 10px;
    background: #f9f0e4;
    color: #ff9800;
}

.middle {
    flex: 0 0 20%;
    margin-left: 10px;
    margin-right: 15px;
    color: #ff9800;
}

.right {
    color: gray;
}

.time {
    color: #ff9800;
    font-size: 16px;
}

.xt {
    margin-left: 10px;
}

ol {
    list-style-type: none;
}

.xt1 {
    margin-left: 30px;
    line-height: 25px;
}

.best {
    display: flex;
    height: 25px;
    align-items: center;
    border-bottom: 1px solid #ece8e8;
    font-size: 10px;
    justify-content: space-between;
    color: #ecebeb;
}

.logo {
    margin-left: 10px;
    flex: 0 0 25%;
    border-right: 1px solid #a09898;
    color: #b9b0b0;
}

.name {
    flex: 0 0 23%;
    border-right: 1px solid #a09898;
    color: #b9b0b0;
}

.age {
    flex: 0 0 23%;
    color: #b9b0b0;
}

.number {
    color: black;
}

.number1 {
    color: #ff9800;
}

.dy span {
    background: #ecebeb;
    padding: 1px 5px;
    border-radius: 10px;
    font-size: 5px;
    color: gray;
}

#dreem {
    margin-left: 15px;
}

.dy {
    height: 30px;
    line-height: 30px;
}

.sc {
    color: green;
}

.add {
    margin: 0 5px;
    display: inline-block;
    transform: translateY(1px);
    color: #2196f3;
    font-size: 16px;
}

.Triangle {
    color: gray;
}

.china {
    transform: translateY(-1px);
    display: inline-block;
}

.bl1 {
    transform: translateX(-15px);
}

.sequence {
    border: 1px solid black;
    width: 17px;
    height: 17px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border-radius: 15px;
}

.end {
    flex-basis: 60px;
    position: fixed;
    bottom: 12px;
    right: 0;
    left: 0;
}

.footed {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    background: #efefef;
}

.an button {
    padding: 10px;
    background: #00bcd4;
    border-radius: 7px;
}

.an1 button {
    padding: 10px 15px;
    background: green;
    border-radius: 7px;
}

.color {
    color: #00bcd4;
}

.color1 {
    color: red;
}

.set {
    text-align: center;
}

.Arrow {
    border: 3px solid #656667;
    border-top-width: inherit;
    border-right-width: inherit;
    content: "";
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

.funnel {
    font-size: 25px;
}

.bh {
    font-size: 16px;
}

.star {
    font-size: 16px;
}