body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.one {
    flex-basis: 55px;
    background: #f1efef;
}

.two {
    overflow: auto;
    flex: 1;
}

.first {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}

.one-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 10px 5px;
}

h3 {
    margin: 0;
}

.arrow {
    border: 3px solid gray;
    border-top-width: inherit;
    border-right-width: inherit;
    width: 10px;
    height: 10px;
    content: "";
    transform: rotate(45deg);
}

.trash {
    font-size: 30px;
    color: #716969;
}

.course {
    border-bottom: 1px solid #eae4e4;
    display: flex;
    justify-content: space-between;
}

.course div {
    height: 40px;
    line-height: 40px;
}

.outside {
    flex-basis: 70%;
}

li {
    display: inline-block;
}

.right {
    font-size: 20px;
    color: red;
    align-self: center;
    margin-right: 30px;
}

.number {
    float: left;
    margin-left: 10px;
    color: #53dbec;
}