 .one {
     height: 50px;
 }
 
 a {
     display: inline-block;
     margin: 5px;
     padding: 5px 10px;
     border: 1px solid black;
     font-size: 15px;
     text-decoration: none;
 }
 
 .one a:link, .one a:visited {
     color: black;
 }
 
 .one a:hover, .one a:action {
     color: white;
     background: red;
 }