* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.one {
    flex-basis: 60px;/*用大哥的方法把头部写成固定来实现底部固定*/
    background: #f5f2f2;
}

.two {
    flex: 1;/*用大哥的方法实现底部固定*/
    overflow: auto;/*添加滚动条*/
}

h3 {
    text-align: center;
}

.header {
    height: 50px;
    line-height: 25px;
    padding: 10px 0;
    font-size: 13px;
    margin: 0 10px;
}

.header-one，.header-two {
    display: flex;
    justify-content: flex-start;
}

.examination {
    float: right;
}

.people, .faction {
    margin-right: 10px;
}

.fraction {
    margin-left: 10px;
}

.examinationtime {
    display: inline-block;
    width: 40%;
}

.grade {
    border-left: 3px solid #ff9800;
    background: #ffefbd;
    color: #ff9800;
}

.smalltitle-right {
    color: #fda420;
}

.smalltitle-right, .smalltitle-left {
    margin: 0 10px;
    font-size: 5px;
}

.smalltitle-left span {
    margin-left: 5px;
}

.numberone {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    color: green;
    border: 1px solid green;
    margin-left: 10px;
    background: #dbf7db;
}

li {
    margin-left: 10px;
    list-style-type: none;
    line-height: 25px;
}

.alrgenumber {
    margin-bottom: 10px;
}

.function-concept {
    margin: 10px 0;
}

.function-concept span {
    background: #ecebeb;
    padding: 1px 5px;
    font-size: 5px;
    border-radius: 10px;
    color: gray;
}

.first {
    margin-left: 10px;
}

ol span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    text-align: center;
    line-height: 15px;
    border-radius: 20px;
    font-size: 5px;
}

.footed {
    background: #f5f3f3;
    flex-basis: 65px;/*用大哥的方法把底部写成固定来实现底部固定*/
    /*position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;*/
}

.last {
    display: flex;
    justify-content: space-around;
    margin: 5px 10px 0;
    
}

.textcenter {
    background: #1caaea;
}

.previewpaper, .textcenter {
    border-radius: 7px;
    color: white;
    flex: 0 0 45%;
    padding: 10px 0;
    font-size: 18px;
}

.previewpaper {
    padding: 0 18px;
    background: #0eb90e;
}

.spot {
    display: inline-block;
    margin-right: 5px;
}

.smalltitle {
    height: 50px;
    line-height: 50px;
}

.bigtitle {
    border-bottom: 1px solid #e4dede;
}

.arrow {
    border: 3px solid #585757;
    border-top-width: inherit;
    border-right-width: inherit;
    content: "";
    width: 10px;
    height: 10px;
    transform:rotate(45deg);
}


.one-all {
    display: flex;
    justify-content: space-between;
    margin: 25px 10px 10px;
    align-items: center;
}

.vertical {
    color: #f5815d;
}

.middle {
    height: 7px;
    background: #f5f2f2;
    border: 1px solid #e4dede;
}